LLM_PROVIDER=
LLM_MODEL_NAME=
LLM_TEMPERATURE=
ANTHROPIC_API_KEY=
# ANTHROPIC_BASE_URL=https://your-api-proxy-domain.com/v1

EMBEDDING_PROVIDER=
EMBEDDING_MODEL_NAME=

SKILL_MATCH_THRESHOLD=
MAX_INPUT_TOKENS=